*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-component-bg-color:#212121;
  --primary-title-font-color:#ffff;
  --primary-sub-font-color: #6b6b6b;
  --primary-border-color: #6b6b6b;

}