
.card{
    border: 1px dotted var(--primary-border-color);
        background-color: var(--primary-component-bg-color);
        border-radius: 10px;
        height: 30vh;
        width: 16vw;
        padding: 8px;
        display: flex;
        gap: 4px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
}
h2{
    background-color: var(--primary-component-bg-color);
}
#descPara{
    border-radius: 5px;
    font-size: 12px;
    width: 15vw;
    height: 15vh;
}


#datePara{
    font-size: 12px;
}
.card button{
    font-size: 14px;
    width: 8vw;
    border: none;
    padding: 8px;
    background-color: green;
    border-radius: 5px;
}