* {
    /* border: 1px solid red; */
}

.regiContainer {
    width: 100%;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regiForm {
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    border-radius: 5px;
    border: 1px solid #6b6b6b
}

.regiForm input {
    border-radius: 5px;
    /* border: 1px solid red; */
    font-size: 18px;
    padding: 5px;
    height: 8vh;
    width: 30vw;
    border: 1px solid #6b6b6b
}

.regiForm button {
    border-radius: 5px;
    width: 12vw;
    font-size: 18px;
    height: 7vh;
    border: none;
    border: 1px solid #6b6b6b;
}

.regiForm h1 {
    border-bottom: 2px solid red;
}
#linkText {
    color: #f2de97;

}
